:root {
    --color-primario: #e0f2f0;
    --color-secondary: #d4ecf6;
    --color-terciario:#e0f2f0;
    --degradado: radial-gradient(circle, 
    #D4F0E5 0%, 
    #CDECEC 25%, 
    #DDF0F3 50%, 
    #DCF3EA 75%, 
    #B5DCFE 100%);
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
    }

    .burguer{

       display:none;
        margin-top: 10px;
        margin-left: 10px;
        width: 180px;
        height: 25px;
        border: none;
        background-color:transparent;
        position: fixed;
        z-index: 4;
        cursor: pointer;
    }

    .burguer img{

        height: 100%;
    }

    .close{
        display: none;
    }

    

.mobile{
    display: none;
    width: 200px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);

}
.social1{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    border-top: 1px solid var(--azul-oscuro);   
}

.social1 nav{
    margin-bottom: 50px;
}


.social1 nav ul {

    gap: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-size: var(--sm);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


.social1 nav ul li a {
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

.social1 nav ul li a:hover {
    color: var(--azul-claro);
    text-decoration: underline;
}


.social1 img {
    
    width: 30px;
    height: 30px;
    background-color: var(--azul-oscuro);
    border-radius: 50%;
}

.social1 a {
    color: var(--azul-oscuro);
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 0;
   
}

.social1 a:hover {
    color:var(--azul-claro);
}


header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primario);
}


 h1 {
    color:var(--black);
    font-size: 44px;
    font-family: "Fascinate Inline", system-ui;
    font-weight: 200;
    font-style: normal;
    
}

.profile{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 10px;
}

.profile img {
    width:70px;
    border-radius: 50%;
    margin:  0 10px 0 0; 
}

.profile h2 {
    font-size: 20px;;
    color:var(--black);
    font-size: var(--sm);
}

nav ul {

    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-size: var(--md);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 30px;
}


nav ul li a {
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

nav ul li a:hover {
    color: var(--azul-claro);
    text-decoration: underline;
}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
   
}

.social img {
    
    width: 20px;
    height: 20px;
    background-color: var(--azul-oscuro);
    border-radius: 50%;
}

.social a {
    color: var(--azul-oscuro);
    font-size: var(--md);
    text-decoration: none;
    margin-bottom: 0;
   
}

.social a:hover {
    color:var(--azul-claro);
    transform: translateY(-10px);
}


.main {
    display: flex;
    justify-content: center;
    width: 100%;
}


.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
    padding: 10px;
    background: var(--degradado);
    /* width: calc(100% - 200px); */
    width: 100%;
}

.content p {
    margin-bottom: 40px;
     /* box-shadow: 4px 3px 10px 0 rgba(0, 0, 0, 0.2); */
     border: solid 1px  white;
     padding: 10px;
     background-color:var(--color-secondary);
}


.titulo{
    width:100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-size:var(--md);
    border-bottom: 2px solid #d4eeed;
    border-left: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
 padding: 15px;
 margin-top: 0;
 border-top: 2px solid var(--white);
text-align:justify;
}

.contenido p{
    background-color: var(--white);
}

.contenido a:hover{
    color: #ffd9d9;
    cursor: pointer;
}

.project {
   
    margin-bottom: 20px;
    background-color:var(--white);
    width: 400px;
    border-radius: 20px;
    box-shadow: 4px 3px 10px 0 rgba(117, 111, 111, 0.8);
    border: 10px solid var(--white);
} 
.project:hover {
   transform: translateY(-10px);
  }

.project img {
    width: 100%;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
}

.project p {
    font-size:var(--sm);
    margin-bottom: 10px;
    height: 100px;
}
/* 
.boton-git{
    display: flex;
    flex-direction: row;
} */

.project a {
    text-decoration: none;
    color:var(--azul-oscuro);
    font-weight: bold;
    margin-right: 25px;
}

.project a:hover {
    text-decoration: underline;
}


.boton-personalizado {
    
    background-color: var(--color-terciario); 
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 3px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    white-space: nowrap; 

}

.boton-personalizado:hover {
    background-color:var(--dark);
}

footer {
    background-color: #e0f2f0;
    color: var(--black);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
    height: 140px;
}

.footer-content {
   
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: var(--black);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links a:hover{
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .content {
        width: 100%;
    }


    .project {
        width: 300px;
    }

    .project p{
        height: 100px;
    }

    .project .boton-git{

        padding-top: 120px;
    }
    .boton-personalizado{
   
    display:flex;
    flex-direction: row;
}

@media (max-width: 992px) and (min-width: 768px) {
    header {
        height:100px;
        flex-direction: row;
        align-items: center; /* Cambia a center para centrar mejor los elementos */
        gap: 20px; /* Agrega espaciado entre los elementos */
    }

    header h1 {
        font-size: 25px;
    }

    .profile h2{
        font-size:var(--sm);
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start; /* Mantén esto si quieres los links a la izquierda */
        gap: 10px; /* Espaciado entre enlaces */
    }

   

    .content {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ajusta para centrar y evitar exceso de ancho */
    }

    .project {
        width: 80%;
        margin: auto; /* Centra los proyectos */
    }
}

@media (max-width: 768px) and (min-width: 691px) {
    header {
        flex-direction: row;
        justify-content: space-between; /* Distribuye elementos de forma uniforme */
        padding: 10px;
    }

    h1 {
        font-size: 15px;
    }

    .profile img {
        width: 50px; /* Mantén el tamaño reducido */
    }

    .profile h2{
        font-size:var(--sm);
    }

    nav ul {
        flex-direction: row; /* Cambia los enlaces a fila para pantallas más grandes */
        gap: 15px; /* Espaciado entre enlaces */
    }
}

@media (max-width: 690px) {
    header {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        padding: 0.5rem;
        font-size: var(--sm);
    }

    h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .social {
        display: none; /* Oculta el menú completo */
    }

    .titulo {
        font-size: 18px; /* Reduce el tamaño del título */
        text-align: center;
    }

    .content{
        padding-top: 100px;
    }

    .project {
        width: 100%;
    }

    .burguer {
        display: flex; /* Mostrar icono hamburguesa para menú móvil */
    }

    .social1 a{
        padding-bottom:25px ;
    }
}


